# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.auxlock
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# LaTeX temporary files
*.nav
*.snm
*.vrb

# TikZ externalization files
**/tikz/
**/.vscode/
